/* Global Styles */
.pos-container {
    font-family: -apple-system, sans-serif;
    background: #000000;
    color: #FFFFFF;
    /*background: linear-gradient(180deg, #407EC9 0%, #1D3557 100%);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.title-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.pos-title {
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 20px;
}

.pos-showcase {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: "Roboto", Sans-serif;
}

.pos-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.design-product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
}


.pos-description {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.7;
    color: #FFFFFF;
}

.pos-pic {
    width: auto;
    height: 700px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.pos-image-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
}



.dollar-image{
    width: 100px;
    height: auto;
}


.pos-image {
    flex: 1;
    width: 400px; /* Set fixed width here */
    height: auto;
    max-width: 100%; /* Ensure it does not exceed parent container */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pos-image {
    width: 360px; /* Set fixed width */
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .pos-image {
        width: 100%; /* Adapt to small screens */
        max-width: 300px; /* Limit maximum width */
    }
}

.pos-product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
}
