.footer {
  background: #f5f7fa; /* 浅灰背景 */
  color: #4b4b4b;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  font-family: "PingFang SC", "Helvetica Neue", Arial, sans-serif;
  flex: 1;
  /*border-top: 1px solid #e5e5e5; !* 分割线 *!*/
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* 联系方式 */
.footer-contact {
  text-align: right;
}

.footer-contact h4 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  color: #1f1f1f;
}

.footer-contact p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.footer-contact a {
  color: #1677FF; /* 支付宝蓝 */
  text-decoration: none;
  font-weight: 500;
  line-height: 22px;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #40a9ff; /* hover 变浅蓝 */
  text-shadow: none;
}
