.footer {
  background: black;
  color: #ffffffe6;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  font-family: "Roboto", Sans-serif;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
}


/* Contact */
.footer-contact {
  text-align: right;
}

.footer-contact h4 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffffe6;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffffe6;
}

.footer-contact a {
  color: #ffffffe6;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
